.column-card {
  width: 33.3333333%;
  max-width: 33.3333333%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
}
.column-full {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-flex: 0;
}
