@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  max-width: 1100px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: auto;
  box-sizing: border-box;
}

